PORT=3003
DB_USERNAME_DEPARTAMENTO=postgres
DB_PASSWORD_DEPARTAMENTO=postgres
DB_HOST_DEPARTAMENTO=localhost
DB_PORT_DEPARTAMENTO=5432
DB_DEPARTAMENTO=gestao_rh_departamento
DEPARTAMENTO_GRPC_URL=localhost:50051
